*{
    background-color: #F3F3F3;
    color: #2D2D2D;
    font-family: Arial, sans-serif;
    font-size: 50px;
}

#primary{
    background-color: #FADADD;
}

#accent{
    background-color: #C44569;
}

#secondary{
    background-color: #FFFFFF;
}

#text{
    background-color: #2D2D2D;
}

#neutral{
    background-color: #F3F3F3;
}

/* #pfp{
    width:
} */

header{
    border: 2px outset #C44569;
    width: 20%;
    font-size: 50%;
    border-radius: 20px;
    background-color: #FADADD;
    text-align: center;
}

img{
    width:35%;
    margin-left:10%;

}

#randomblock{
    width:100%;
    height:10%;
    background-color: #C44569;
    padding:5%;
    margin-bottom:0.5%;
}
